@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Typewriter;
  src: url(http://localhost:3000/ElegantTypewriter-YzBOy.ttf);
}

@font-face {
  font-family: TypewriterBold;
  src: url(http://localhost:3000/ElegantTypewriterBold-BWnYG.ttf);
}

@font-face {
  font-family: TypewriterLight;
  src: url(http://localhost:3000/ElegantTypewriterLight-8MqjZ.ttf);
}

html {
  /* Root Styles */
  --font-logo : Typewriter;
  --bg : black;
  --text-col : white;
}

.logo {
  font-family: var(--font-logo);
}

.bg {
  background-color: var(--bg);
  color: var(--text-col);
}

.classified-text{
  animation: classified-text 3s ease forwards;
}

@keyframes classified-text {
  0% {
    color: white;
    content: "classified";
  }
  100% {
    color: red;
  }
}
